.contenido p{
    margin-bottom: 1em;
}

.ir-arriba{
    display: nome;
    padding: 20px;
    background: #024959;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}